<div class="event-info">
  <div class="event-description"><%= @event.description %></div> <br/>
  <div class="event-period">
    <strong>Started at: </strong><%= @event.start_at %> <br/>
    <strong>Ended at: </strong><%= @event.end_at %>
  </div>
</div>